# Mac OS e Windows files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Dependências (Node, Python, Flutter)
node_modules/
.venv/
env/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.apk
*.aab